{% extends 'base.html' %}
{% block title %}Lista produktów{% endblock %}
{% block content %}
<ul class="list-group">
    <table class="table table-striped">
    <thead>
        <tr style="text-align: center;">
            <th scope="col">ID<i class="bi bi-camera-fill"></i></th>
            <th scope="col">Nazwa<i class="bi bi-emoji-sunglasses-fill"></i></th>
            <th scope="col">Liczba recenzji<i class="bi bi-exclamation-triangle-fill"></i></th>
            <th scope="col">Liczba plusów<i class="bi bi-hand-thumbs-up-fill"></i></th>
            <th scope="col">Liczba minusów<i class="bi bi-hand-thumbs-down-fill"></i></th>
            <th scope="col">Średnia gwiazdek</th>
            <th scope="col">CSV</th>
            <th scope="col">XLSX</th>
            <th scope="col">JSON</th>
            <th colspan ="3"></th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{product.product_id}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.stats.reviews_count}}</td>
            <td>{{product.stats.pros_count}}</td>
            <td>{{product.stats.cons_count}}</td>
            <td>{{product.stats.average_stars}}</td>
            <td><a type="button" class="btn btn-info" href="#">CSV</a></td>
            <td><a type="button" class="btn btn-info" href="#">XLSX</a></td>
            <td><a type="button" class="btn btn-info" href="#">JSON</a></td>
            <td><a type="button" class="btn btn-primary" href="{{url_for('product', product_id=product.product_id)}}">Pokaż</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    
</ul>
{% endblock %}